doctype html
//
  Eventually by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Eventually by HTML5 UP
    | &#x9;&#x9;
    meta(charset='utf-8')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lte IE 8
      script(src='themes/html-up-eventually/js/ie/html5shiv.js')
    | &#x9;&#x9;
    link(rel='stylesheet', href='themes/html-up-eventually/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='themes/html-up-eventually/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='themes/html-up-eventually/css/ie9.css')
  | &#x9;
  body
    // Header
    header#header
      h1 Eventually
      | &#x9;&#x9;&#x9;&#x9;
      p
        | A simple template for telling the world when you&apos;ll launch
        br
        | &#x9;&#x9;&#x9;&#x9;your next big thing. Brought to you by
        a(href='http://html5up.net') HTML5 UP
        | .
    // Signup Form
    form#signup-form(method='post', action='#')
      input#email(type='email', name='email', placeholder='Email Address')
      | &#x9;&#x9;&#x9;&#x9;
      input(type='submit', value='Sign Up')
    // Footer
    footer#footer
      ul.icons
        li
          a.icon.fa-twitter(href='#')
            span.label Twitter
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li
          a.icon.fa-instagram(href='#')
            span.label Instagram
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li
          a.icon.fa-github(href='#')
            span.label GitHub
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li
          a.icon.fa-envelope-o(href='#')
            span.label Email
      | &#x9;&#x9;&#x9;&#x9;
      ul.copyright
        li &copy; Untitled.
        li
          | Credits:
          a(href='http://html5up.net') HTML5 UP
    // Scripts
    //if lte IE 8
      script(src='themes/html-up-eventually/js/ie/respond.min.js')
    | &#x9;&#x9;&#x9;
    script(src='js/lib/jquery-3.1.1.min.js')
    | &#x9;&#x9;&#x9;
    script(src='themes/html-up-eventually/js/main.js')
